.table {
  margin: 20px auto 40px;
  max-width: 1100px;

  .inside {
    padding-left: 195px;
    position: relative;
    .left {
      top: 0;
      left: 0;
      bottom: 0;
      background: #fff;
      position: absolute;
      width: 195px;
      box-shadow: 1px 1px #dedfe0 inset, 0 -1px #dedfe0 inset;
      // overflow: hidden;
      padding-bottom: 20px;
      .imgUser {
        padding: 10px;
        margin: 0 auto;
        width: 120px;
      }
      h3 {
        text-align: center;
      }
      ul {
        li {
          line-height: 2;
          padding-left: 15px;
          a {
            color: $co-blue;
            text-decoration: none;
          }
          &:hover {
            background: $co-gray-2;
          }
        }
        .active{
          background: $co-gray-2;
        }
      }
    }
    .right {
      background: #fff;
      position: relative;
      min-height: 600px;
      margin: 20px auto;
      border: 1px solid #dedfe0;
      .title {
        h2 {
          color: #29303b;
          text-align: center;
          line-height: 1 !important;
          font-weight: 700 !important;
          font-size: 22px;
          margin: 20px 0 3px;
        }
        h3 {
          font-size: 15px;
          font-weight: 300;
          color: #29303b;
          text-align: center;
          margin: 0 0 15px;
          line-height: 25px;
        }
        p {
          text-align: center;
        }
      }
      .form {
        box-shadow: 0 1px 0 0 #dedfe0, 0 -1px 0 0 #dedfe0;
        padding-top: 20px;
        .form-group {
          padding: 10px 142px;
          margin-bottom: 0;
          input {
            height: 40px;
          }
        }
      }
    }
  }
}
