$color-black-0: #29303b;
$co-black-light:#505763;
$co-black-1: #14171c;
$co-gray-1: rgba(20,23,28,.05);
$co-gray-4: #686f7a;
$co-gray-2: #a1a7b3;
$co-gray-3: #cacbcc;
$co-gray-5: #F7F8FA;
$co-purple: #6e1a52;



$co-red-1:#992337;
$co-red: #ec5252;

$co-white: #ffffff;
$co-white-cream:#f2f3f5;
$co-yellow: #F4C150;
$co-blue: #007791;

