.owl-prev, .owl-next{
    position: absolute;
    top: 34%;
    left: -3%;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    background-color: $co-white !important;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.1);
    span{
        @include text($co-blue,$fw-normal, $h1);
        line-height: 0.6;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        transition: all 0.4s;
        box-shadow: 0 3px 8px 3px rgba(20,23,28,.2);
    }
}
.owl-next{
    left: unset;
    right: -3%;
}